<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        ul {
            margin-top: 50px;
            list-style: none;
        }

        ul>li {
            text-align: center;
        }

        .content {
            margin: 0 auto;
            width: 90%;
            height: 100px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li @click="getGood(item.id)" v-for="item in listData" :key="item.id">
                {{item.name}}
                <div v-if="flagStatus[item.id].status" class="content"></div>
            </li>
        </ul>
    </div>
</body>
<script src="./components//lib/vue.min.js"></script>
<script>
    window.onload = function () {
        var app = new Vue({
            el: "#app",
            data: {
                listData: [
                    { id: 0, name: '嬴政' },
                    { id: 1, name: '刘邦' },
                    { id: 2, name: '夏侯惇' },
                    { id: 3, name: '庄周' },
                    { id: 4, name: '韩信' },
                    { id: 5, name: '小乔' }
                ],
                flagStatus: [
                    { id: 0, status: false },
                    { id: 1, status: false },
                    { id: 2, status: false },
                    { id: 3, status: false },
                    { id: 4, status: false },
                    { id: 5, status: false }
                ]
            },
            methods: {
                getGood(id) {
                    this.flagStatus.forEach(element => {
                        if (element.id === id) {
                            element.status = !element.status
                        }
                    });
                }
            }
        })
    }
</script>

</html>